body {
  background-color: black;
  color: white;
  margin: 0;
}

.my-heading {
  color: white;
  font-size: 15px;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  color: black;
  padding: 10px;
  margin: 0;
  flex-direction: row;
  align-items: center;
}
.left {
  display: flex;
}

.left .logo {
  height: 100px;
}

.navbar-btn {
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: 1s;
  font-weight: bold;
}
.navbar-btn:hover {
  background-color: black;
  color: white;
}

/* hero-sect */
.hero-sect {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.hero-sect .heading {
  font-size: 33px;
  font-weight: 200;
  color: black;
}
/* my-cards */
.my-cards {
  display: flex;
  /* margin: 20px 40px; */
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
  border: 2px solid white;
  /* width: 33%; */
  text-align: center;
  background-color: azure;
  color: black;
}
.p-img{
  width: 100%;
}
.p-heading{
   color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 12px;
  margin: 0;
}
.p-description{
  color: black;
  font-size: 18px;
  padding: 10px 12px;
  margin: 0;
  text-align: left;
}
.p-price{
  font-weight: bold;
  color: blue;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.p-btn{
  color: black;
  background-color: aqua;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 20px;
  transition: 0.9s;
}
.p-btn:hover{
  background-color: black;
  color: white;
}